@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 기본 스타일 설정 */
body {
  max-width: 1200px;
  margin: 0 auto; 
  width: 100%;
  box-sizing: border-box;
}

/* TopBar 기본 스타일 */
header {
  padding: 1.6rem; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: -10px;
  font-family: "Pretendard Variable", Pretendard;
  margin-top: 10px;
  font-weight: ;
}

/* 상단 네비게이션 */
#upper-nav {
  display: flex;
  width: 100%;
  height: 60%;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}

#logo {
  flex: 75%;
  text-align: left;
  font-size: 1.5rem;
  position: relative;
  top: -20px;
}
#logo img {
  width: 40%;
  height: auto; /* 비율에 맞게 높이를 자동 조정 */
}

nav ul {
  list-style-type: none;
  display: flex;
  flex: 25%;
  justify-content: flex-end;
  padding: 0;
}

nav ul li {
  margin-right: 15px;
  font-size: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.notification-icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 1.2rem;
}

/* 하단 네비게이션 스타일 */
.bottom-nav {
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  border-top: 1px solid #87CEEB ;
}

.bottom-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}

.bottom-nav ul li {
  margin-top: 10px;
  margin-right: 100px;
  font-size: 1.2rem;
}

.bottom-nav .router-link-active {
  color: #87ceeb;
  font-weight: bold;
}

router-link,  /* 밑줄 제거 */
a {
  text-decoration: none;
  color: black;
}
/* 반응형 디자인 */

/* 노트북과 중간 화면 (max-width 1200px) */
@media (max-width: 1200px) {
  body, header {
    max-width: 100%; /* 최대 너비를 100%로 조정 */
  }

  .bottom-nav ul li {
    margin-right: 50px;
    font-size: 0.9rem;
  }
}

/* 모바일 화면 (max-width 500px) */
@media (max-width: 970px) {
  body, header {
    max-width: 100%;
  }

  #upper-nav {
    flex-direction: row; /* 가로 배치 유지 */
    height: auto;
    align-items: center;
    justify-content: space-between; /* 좌우로 공간 배분 */
    width: 100%; /* 상단 네비게이션이 전체 너비를 차지하도록 설정 */
  }

  #logo {
    flex: 1 1 auto; /* 로고에 가변적인 공간 할당 */
    margin-bottom: 0; /* 여백 제거 */
    font-size: 1.2rem;
    text-align: left;
  }

  #logo img {
    width: 60%; /* 로고 이미지 크기를 줄여서 공간 확보 */
  }

  nav ul {
    flex: 0 1 auto; /* 네비게이션이 남은 공간을 차지하지 않도록 설정 */
    display: flex;
    justify-content: flex-end; /* 로그인 링크가 오른쪽에 위치하도록 설정 */
  }

  nav ul li {
    margin-right: 10px; /* 링크 간의 간격 조정 */
    font-size: 1rem; /* 글자 크기 조정 */
  }
}
