#chatRoom {
  display: flex;
  flex-direction: column;
  height: 710px;
  max-width: 550px;
  margin: 0 auto;
  position: relative; /* z-index가 적용되기 위해 position 속성 추가 */
  z-index: 1;
}

.board-container {
  background-color: white; /* 필요 시 배경색 설정 */
  height: 110px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

.chat-container {
  flex: 1;
  height: 500px;
  overflow-y: auto; /* 스크롤을 가능하게 설정 */
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.message-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-list li {
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
