#chatRoom {
  display: flex;
  flex-direction: column;
  height: 610px;
  max-width: 550px;
  margin: 0 auto;
}

.chat-container {
  flex: 1;
  height: 400px;
  overflow-y: auto; /* 스크롤을 가능하게 설정 */
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.message-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.message-list li {
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
