/* 기본 색상 */
:root {
    --primary-color-light: #DCF1F9;
    --primary-color: #87CEEB;
    --primary-color-dark: #2193C0;
    --primary-color-darker: #0C3546;
    --secondary-color: #000;
    --point-color: #FFD700;
    --button-hover-color: #08AAEB;
}

#create {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Pretendard', sans-serif;
}

#create form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--primary-color-darker);
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

input[type="file"] {
    margin-top: 10px;
    padding: 10px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

/* sup 태그 스타일: 빨간색 */
sup {
    color: red;
}

input[type="submit"],
input[type="button"] {
    padding: 10px 20px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: var(--button-hover-color);
}

input[type="button"] {
    background-color: var(--primary-color-dark);
}

input[type="button"]:hover {
    background-color: var(--primary-color-darker);
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    #create {
        padding: 10px;
    }

    input[type="text"],
    textarea,
    select {
        font-size: 14px;
    }

    input[type="submit"],
    input[type="button"] {
        font-size: 14px;
    }
}
