/* 기본 색상 */
:root {
    --primary-color-light: #DCF1F9;
    --primary-color: #87CEEB;
    --primary-color-dark: #2193C0;
    --primary-color-darker: #0C3546;
    --secondary-color: #000;
    --point-color: #FFD700;
    --button-hover-color: #08AAEB;
}



#detailPage {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Pretendard', sans-serif;
}
  
.upper-section {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
  }



/* 이미지 컨테이너 스타일 */
.image-container {
    flex: 1;
    max-width: 40%; /* 이미지가 차지하는 너비 조정 */
    margin-right: 20px;
}


.image-container img {
    width: 100%;
    height: auto;
    object-fit: cover; /* 이미지 비율 유지하면서 컨테이너를 꽉 채우기 */
}

.no-image-placeholder {
    text-align: center;
    padding: 20px;
    color: var(--secondary-color);
    font-size: 16px;
    background-color: #f0f0f0;
    border-radius: 8px; /* 테두리 둥글게 */
}

.info-container{
    flex: 2;
    margin-top: 20px;
}

.upperInfo{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.priceInfo {
    margin: 0 auto;         /* 중앙 정렬을 위해 좌우 여백 자동 */
    text-align: center;      /* 텍스트 중앙 정렬 */
  }

.upperInfo button{
    background-color: #6ac6eb;
    margin-left: auto; 
    margin-top: -20px;
}

.info-container button {
    border-radius: 5px;
    background-color: #6ac6eb;
}

.info-container h3 {
    text-align: center;
}
  

  
button:hover {
    background-color: #08AAEB;
}

.actionButton{
    display: flex;
    justify-content: center;
}

.tab {
    padding: 5px 10px; /* 버튼 크기 조정 */
    border: 1px solid #ccc;
    background-color: #ddd;
  }

.lower-section{
    border: 1px solid #ccc;
    padding: 20px;
}
