
#PlaceMain {
    max-width: 1200px; 
    margin: 0 auto; 
    width: 100%;
  }

/* 주간날씨 css */
.weather-container {
    display: flex; /* 플렉스 레이아웃을 사용하여 날씨 카드들을 가로로 나란히 배치 */
    justify-content: space-around; /* 카드들 사이의 공간을 균등하게 배치 */
    gap: 10px; /* 카드들 사이의 간격을 10px로 설정 */
    padding: 10px; /* 컨테이너 내부에 10px의 여백 추가 */
    
}

.weather-card {
    background-color: #B9E3F3;
    border-radius: 8px; /* 카드의 모서리를 둥글게 처리 */
    padding: 15px; /* 카드 내부에 15px의 여백 추가 */
    width: 165px; /* 카드의 너비를 150px로 설정 */
    text-align: center; /* 카드 내 텍스트와 내용을 중앙 정렬 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 카드에 약간의 그림자를 추가하여 입체감을 부여 */
    text-align: center;
    transition: transform 0.3s ease-in-out;
    /* 애니메이션 중복 적용 방지 */
    transform-origin: center center; /* 변환의 기준점을 가운데로 설정 */
}

.weather-card:hover {
  animation: rotate-shake-and-scale 0.5s ; /* 호버 시 애니메이션 적용 */
  transform: scale(1.1) ;
}

@keyframes shake-and-scale {
  0% { transform: scale(1) rotate(0deg); }
    25% { transform: scale(1.1) rotate(10deg); }
    50% { transform: scale(1.1) rotate(-10deg); }
    75% { transform: scale(1.1) rotate(10deg); }
    100% { transform: scale(1.1) rotate(0deg); }
}

/* 테마 이미지 css */
.image-group {
    margin-bottom: 20px; /* 각 테마 그룹 간의 간격을 주기 위해 20px의 마진 추가 */
}

.images {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
    width: 100%;
  }
  
  .image {
    flex: 1;
    min-width: 200px;
    height: 298px;
  }

  .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.caption {
    margin-bottom: 10px; /* 캡션과 이미지 그룹 사이에 10px의 간격 추가 */
}

/* 반응형 디자인 */

/* 노트북과 중간 화면 (max-width 1200px) */
@media (max-width: 1200px) {
  #PlaceMain{
    width: 100%;
    padding: 0 1rem; 
}


}

/* 모바일 화면 (max-width 500px) */
@media (max-width: 970px) {
#PlaceMain{
        width: 100%;
        padding: 0 1rem; 
    }

  .image-group {
      margin-bottom: 20px; /* 각 테마 그룹 간의 간격을 주기 위해 20px의 마진 추가 */
  }   

.images {
  flex-direction: column !important;/* 세로로 배치 */
  }
  
  .image {
  flex-basis: 100%; /* 세로로 배치할 때 너비 100% */
  height: 298px; /* 고정된 높이 유지 */
  }
  
  .weather-container {
  display: grid; /* 그리드 레이아웃으로 변경 */
  grid-template-columns: repeat(3, 1fr); /* 첫째 줄에 3개의 칸 생성 */
  grid-template-rows: auto auto; /* 두 줄로 나누기 */
  gap: 10px; /* 그리드 셀 사이의 간격 */
  row-gap: 20px;
  }
  
  .weather-card:nth-child(n+4) {
  grid-column: span 1 / span 2; /* 넷째 카드부터는 두 칸 차지 (둘째 줄에 2개) */
  }
  
  .weather-card {
  width: auto; /* 그리드 레이아웃에 맞게 카드의 너비를 100%로 설정 */
  }
}